body {
  background: rgba(233, 217, 187, 0.589);
}

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  padding: 10px;
}

.checkout-wrapper {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-wrapper h1 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  cursor: pointer;
}

.checkout-wrapper h1 .bill {
  color: teal;
  font-weight: bolder;
}

.checkout-wrapper .billing-info {
  width: 100%;
  height: auto;
}

.checkout-wrapper .billing-info .field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.checkout-wrapper .billing-info .field label {
  width: 70%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: 1px solid teal;
}

.checkout-wrapper .billing-info .field label sup {
  color: red;
}

.checkout-wrapper .billing-info .field input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.checkout-wrapper .billing-info .field input:focus {
  outline: none;
  border: 2px solid teal;
}

.checkout-wrapper .billing-info #note {
  height: 100px;
  width: 100%;
}

.checkout-wrapper .payment {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.checkout-wrapper .payment h1 {
  border: none;
  margin: 30px 0;
  font-size: 2em;
}

.checkout-wrapper .payment .warning {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  font-size: 1.1em;
  -webkit-box-shadow: 5px 8px 1px grey;
          box-shadow: 5px 8px 1px grey;
  border-radius: 10px;
}

.checkout-wrapper .payment .warning .orderid {
  background: teal;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.checkout-wrapper .payment .warning p {
  padding: 5px 10px;
}

.checkout-wrapper .payment .payers {
  margin: 10px 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 10px;
}

.checkout-wrapper .payment .payers .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: tealenrod;
  font-weight: bolder;
}

.checkout-wrapper .payment .payers .pay p {
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.checkout-wrapper #order {
  margin: 50px 0;
  padding: 20px 0;
  font-size: 1.4em;
  color: white;
  background: teal;
}
