
body{
	background: rgba(233, 217, 187, 0.589);
}
main{
	width: 100%;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	padding: 10px;


}


.checkout-wrapper{
	width: 100%;
	height: auto;
		display: grid;
		place-content: center;
		align-items: center;

	h1{
		text-align: center;
		border-bottom: 2px solid black;
		margin-bottom: 20px;
		cursor: pointer;

		.bill{
			color: teal;
			font-weight: bolder;
		}
	}
	.billing-info{
		width: 100%;
		height: auto;
	
		.field{
			width: 100%;
			display: flex;
			justify-content:space-around;
			align-items: center;
			margin: 10px 0;

			label{
				width: 70%;
			text-align: left;
			font-size: 1.1em;
			border-bottom: 1px solid teal;

			sup{
				color: red;
			}
			}
			input{
				width: 100%;
				border: 2px solid grey;
				border-radius: 10px;
				padding: 5px;
				cursor: pointer;
				text-transform: capitalize;

				&:focus{
					outline: none;
					border: 2px solid teal;
				}
			}
		}
		#note{
			height: 100px;
			width: 100%;
		}
	}

	.payment{
		display: grid;
		place-content: center;
		align-items: center;
		margin: 0 0 20px 0;
		h1{
			border: none;
			margin: 30px 0;
			font-size: 2em;
		}
		.warning{
			width: fit-content;
			border: 2px solid black;
			font-size: 1.1em;
			box-shadow: 5px 8px 1px grey;
			border-radius: 10px;

			.orderid{
				background: teal;
				border-radius: 10px;
				color: white;
				text-align: center;
			}
p{
	padding: 5px 10px;
}
		}
.payers{
	margin: 10px 0;
	width: 100%;
	display: grid;
	place-content: center;
	padding: 10px;
	.pay{
		display: flex;
		justify-content:flex-start;
		align-items: center;
		color: tealenrod;
		font-weight: bolder;
		p{
			margin: 0 5px;
			text-transform: capitalize;
			cursor: pointer;
		}
	}
}
	}
	#order{
margin: 50px 0;
padding: 20px 0;
font-size: 1.4em;
color: white;
background: teal;
		}
}
