.checkouts{
	width: 100%;
	height: auto;
}

table{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;


	th,td{
		border: 1px solid black;
		width: auto;
		text-align: center;
		padding: 10px;
	}
}

.det{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.user-info{
	width: 100%;
}
.t{
	margin: 0;
}