@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rajdhani:wght@300&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Rajdhani', sans-serif;
}

fieldset{
padding: 20px;
}
#password{
	height: 30px;
	border-radius: 10px;
	border: 1px solid red;
	padding: 5px;
}
#password:focus{
	outline: none;
}
#sub-btn{
	height: 30px;
	padding: 5px;
	border-radius: 10px;
	color: gold;
	background: black;
}
legend{
	padding: 5px;
}